/* 
    Created on : Feb 20, 2020, 10:29:03 PM
    Author     : Rohit B. Kanish
*/

            .imgset{
            height: 100px;
            width: 100px;
            }
            .inputrounded{
                border-radius: 0px 30px 30px 0px;
            }
            .frounded{
                border-radius: 30px 0px 0px 30px;
            }
            .btnrad{
                border-radius: 30px;
            }
            .login{
            background: transparent;
            border-radius: 5px;
            border: 1px solid #000;
            box-shadow: 0px 0px 10px 10px #000; 
            }
            .bodybg{
                background-image: url("images/blue.jpg");
                background-attachment: fixed;
                background-size: 100% 100%;
            } 
            .headnav{
                background: #240b36;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #c31432, #240b36); /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #c31432, #240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }
/*background: -webkit-gradient(linear, left bottom, left top, from(#522db8), to(#1c7ce0));-webkit-linear-gradient(to right, #c31432, #240b36);  /* Chrome 10-25, Safari 5.1-6 
                background: linear-gradient(-90deg, #522db8 0%, #1c7ce0 100%);linear-gradient(to right, #c31432, #240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */